div {
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    background-color: var(--dialog-color);
    position: absolute;
}
div button {
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 1rem 0.5rem;
    text-align: center;
    transition: background-color 100ms ease-in-out;
}
div :hover {
    background-color: var(--dialog-color-hover);
}
div :active {
    background-color: var(--dialog-color-active);    
}
