:host {
    position: relative;
    z-index: 1;
}
h1,h2,h3,p {
    margin: 0;
    position: relative;
    width: 100%;
    text-align: left;
    border: none;
    z-index: 10;
    caret-color: white;
}

h1:focus-visible, h2:focus-visible, h3:focus-visible {
    outline: none;
    border: none;
}
.placeholder {
    color :gray;
}

.caret-invisible {
    caret-color: transparent;
}