
@switch (this.level) {
    @case (1) {
        <h1 
        [classList]="[this.className(),this.caretVisible()]" 
        (blur)="handleBlur()" 
        (keydown)="handleKeyDown($event)"
        (focus)="handleFocus($event)" 
        (click)="handleClick($event)" 
        contenteditable="true"
        (keyup)="handleKeyUp($event)"
        [textContent]="this.text"
        #ref></h1>
    }
    @case (2) {
        <h2 
        [className]="this.className()"
        (click)="handleClick($event)" 
        (blur)="handleBlur()"
        (keydown)="handleKeyDown($event)"  
        contenteditable="true"
        (focus)="handleFocus($event)"
        (keyup)="handleKeyUp($event)"
        [textContent]="this.text"
        #ref></h2>
    }
    @case (3) {
        <h3 
        role="textbox"
        [className]="this.className()" 
        (blur)="handleBlur()"
        (keydown)="handleKeyDown($event)"  
        contenteditable="true"
        (focus)="handleFocus($event)"
        (click)="handleClick($event)"
        (keyup)="handleKeyUp($event)"
        [textContent]="this.text"
        #ref></h3>
    }
    @case ("Paragraph") {
        <div 
        [className]="this.className()" 
        (blur)="handleBlur()"
        contenteditable="true"
        (focus)="handleFocus($event)"
        (keydown)="handleKeyDown($event)"  
        (click)="handleClick($event)" 
        (keyup)="handleKeyUp($event)"
        [textContent]="this.text"
        #ref></div>
    }
}
