/* You can add global styles to this file, and also import other style files */

:root {
    --bg-nav: rgb(32, 32, 32);
    --bg: rgb(25, 25, 25);
    --dialog-color: rgb(37,37,37);
    --fs-sm: 1.2rem;
    --fs-md: 1.4rem;
    --fs-lg: 1.6rem
}
* {
    box-sizing: border-box;
    
}
body {
    margin: 0;
    display: flex;
    background-color: initial;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

input, textarea {
    background-color: transparent;
    outline: none;
    border: none;
}
input {
    font-size: 1.25rem;
}