form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 2rem;
    gap: 1rem
}
form div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
} 
form div label {
    text-transform: capitalize;
}

form div label, form button {
    font-size: var(--fs-sm);
}
form div input {
    font-size: var(--fs-sm);
    width: 30ch;
    padding: 0.5rem 0.5rem;
    outline: none;
    border-radius: 10px;
    border: 2px solid hsl(0, 0%, 70%);
}

form div input:focus, form div input:active {
    border: 3px solid hsl(240, 70%, 70%)
}
button {
    padding: 1rem 0.5rem;
}