<main>
    <header>
        <span>Document title</span>
        <span>Last time edited</span>
        <button>Share</button>
        <button>Coment</button>
        <button>History</button>
        <button>Favorite</button>
        <button>more</button>
    
    </header>
    <div list class="content">
        <img src="" alt="">
        <app-edit-page></app-edit-page>
        <div
        id="editors"
            #editor 
            (keydown)="handleChange($event)" 
            contenteditable="true"
            (blur)="handleBlur()"
        > asdfasdfasdf</div>
    </div>
    @if (this.optionsVisible) {
    <app-dropdown [items]="['Header 1', 'Header 2', 'Header 3' ,'Image', 'Table' ]"></app-dropdown>
    }
</main>