<main>
    <header>
        <span>Document title</span>
        <span>Last time edited</span>
        <button>Share</button>
        <button>Coment</button>
        <button>History</button>
        <button>Favorite</button>
        <button>more</button>
    
    </header>
    <div class="content">
        <img src="" alt="">
        <app-edit-page></app-edit-page>
        <input  placeholder="Untitled">
        <textarea (change)="handleChange($event)" name="" id="">

        </textarea>

    </div>
</main>