<main>
    <header>
        <span>Document title</span>
        <span>Last time edited</span>
        <button>Share</button>
        <button>Coment</button>
        <button>History</button>
        <button>Favorite</button>
        <button>more</button>
    
    </header>
    <div  class="content">
        <img src="" alt="">
        <app-edit-page></app-edit-page>
        <div id="content-elements">
        @for (item of this.store.model().content ; track $index) {
        
        
            <div
                class="editor-content"
                #editableParent 
            > 
                @switch (item.type) 
                {
                    @case  ("Blank") {
                        @if (!this.isFocused()) {
                        <input type="text" [disabled]="this.isFocused()" placeholder="Write something">
                        }
                    }

                    @case ("Text") {
                        @if (this.isHeading(item)) {
                            <app-title 
                                [children]="item.children"
                                [hasPlaceHolder]="item.hasPlaceHolder"
                                [elementId]="item.elementId" 
                                [text]="item.text"
                                [level]="item.level">
                            </app-title>
                        }
                    }
                }
            </div>
        }

    @if (this.store.model().optionsVisible) {
    <app-dropdown [items]="this.dropdownItems"></app-dropdown>
    }
</div>

    </div>
    @if (this.store.model().floatingToolbar.isVisible) {
    <app-floating-toolbar [x]="this.store.model().floatingToolbar.left" [y]="this.store.model().floatingToolbar.top"></app-floating-toolbar>
    }
</main>